@charset "UTF-8";
/* $grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem; */
/*
$breakpoint argument choices:
0-600px - phone
600-900px - tab-port
900-1200px - tab-land
1800px+ - big-desktop
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  color: #8b9094;
}

.heading-tertiary, .heading-secondary, .heading-primary {
  font-weight: 700;
  color: #000;
}

.heading-primary {
  font-size: 8rem;
}

.heading-primary--underlined {
  display: inline-block;
  position: relative;
  z-index: 1;
}
.heading-primary--underlined::after {
  content: "";
  height: 0.6rem;
  position: absolute;
  bottom: 2.5rem;
  left: 0.5rem;
  right: 0.5rem;
  background: rgba(255, 153, 204, 0.5);
  z-index: -1;
}

.heading-secondary {
  font-size: 4.4rem;
}
@media only screen and (max-width: 64em) {
  .heading-secondary {
    margin-bottom: 3rem;
  }
}
@media only screen and (max-width: 27em) {
  .heading-secondary {
    font-size: 3.4rem;
  }
}

.heading-secondary--underlined {
  display: inline-block;
  position: relative;
  z-index: 1;
}
.heading-secondary--underlined::after {
  content: "";
  height: 0.4rem;
  position: absolute;
  bottom: 1.5rem;
  left: 0.5rem;
  right: 0.5rem;
  background: rgba(255, 153, 204, 0.5);
  z-index: -1;
}
@media only screen and (max-width: 27em) {
  .heading-secondary--underlined {
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  .heading-secondary--underlined::after {
    content: "";
    height: 0.2rem;
    position: absolute;
    bottom: 1.2rem;
    left: 0.5rem;
    right: 0.5rem;
    background: rgba(255, 153, 204, 0.5);
    z-index: -1;
  }
}

.heading-tertiary {
  font-size: 2.2rem;
}
.heading-tertiary--emphasis {
  font-size: 3.6rem;
}

.heading-tertiary--underlined {
  display: inline-block;
  position: relative;
  z-index: 1;
}
.heading-tertiary--underlined::after {
  content: "";
  height: 0.3rem;
  position: absolute;
  bottom: 0.8rem;
  left: 0.5rem;
  right: 0.5rem;
  background: rgba(255, 153, 204, 0.5);
  z-index: -1;
}

.link {
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none;
}
.link:hover {
  cursor: pointer;
}

/* .grid-body-wide {
  display: grid;
  grid-template-columns: [full-start] 1fr [center-start] repeat(
      4,
      [col-start] minmax(min-content, 28.5rem) [col-end]
    ) [center-end] 1fr [full-end];
}

.grid-content-4-col {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: [center-start] repeat(
      2,
      [col-start] minmax(min-content, 28.5rem) [col-end]
    ) [grid-center] repeat(2, [col-start] minmax(min-content, 28.5rem) [col-end]) [center-end];
}

.grid-content-3-col {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: [center-start] repeat(
      3,
      [col-start] minmax(min-content, 38rem) [col-end]
    ) [center-end];
  justify-items: center;
}
 */
.grid-wide {
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: [full-start] 1fr [center-start] minmax(0, 114rem) [center-end] 1fr [full-end];
  grid-gap: 0rem 0rem;
}

.grid-4-col {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc((114rem - 0rem * 3) / 4 - 10rem), 1fr));
  grid-gap: 0rem 0rem;
}
@media only screen and (max-width: 27em) {
  .grid-4-col {
    grid-column: full-start/full-end;
  }
}

.grid-1-of-2-col {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc((114rem - 0rem * 3) / 4), 1fr));
  grid-gap: 0rem;
  justify-items: start;
}
@media only screen and (max-width: 64em) {
  .grid-1-of-2-col {
    grid-gap: 3rem;
  }
}

.grid-3-col {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc((114rem - 0rem * 2) / 3 - 10rem), 1fr));
  grid-gap: 0rem 0rem;
}
@media only screen and (max-width: 64em) {
  .grid-3-col {
    grid-row-gap: 3rem;
    justify-items: center;
  }
}
@media only screen and (max-width: 27em) {
  .grid-3-col {
    grid-column: full-start/full-end;
  }
}

.grid-2-col {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc((114rem - 0rem) / 2 - 10rem), 1fr));
  grid-gap: 0rem 0rem;
}
@media only screen and (max-width: 56.25em) {
  .grid-2-col {
    grid-row-gap: 5rem;
    justify-items: center;
  }
}
@media only screen and (max-width: 27em) {
  .grid-2-col {
    grid-column: full-start/full-end;
  }
}

.grid-1-and-2-col {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: calc((114rem - 0rem * 2) / 3) calc(2 * (114rem - 0rem * 2) / 3 + 0rem);
  grid-gap: 0rem 0rem;
}

@media only screen and (max-width: 75em) {
  .grid-1-and-2-col {
    grid-template-columns: 1fr 2fr;
  }

  /*   .grid-4-col {
      grid-template-columns: repeat(2, 1fr); // использовать, если четвертая колонка ломает макет при уменьшении экрана
    } */
}
@media only screen and (max-width: 60em) {
  .grid-wide {
    grid-template-columns: [full-start] 0px [center-start] minmax(0, 114rem) [center-end] 0px [full-end];
    grid-column-gap: 0;
  }
}
@media only screen and (max-width: 48em) {
  .grid-1-and-2-col {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 37.5em) {
  .grid-2-col {
    grid-template-columns: 1fr;
  }

  .grid-3-col {
    grid-template-columns: 1fr;
  }
}
.slick-prev:before,
.slick-next:before {
  font-size: 3rem;
  line-height: 1;
  color: #8b9094;
}

@media screen and (max-width: 64em) {
  .slick-next {
    right: 0.5rem;
  }
}

@media screen and (max-width: 64em) {
  .slick-prev {
    left: 0.5rem;
    z-index: 10;
  }
}

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  font-weight: 700;
  padding: 1.1rem 6rem;
  display: inline-block;
  border-radius: 10rem;
  color: #fff;
  background: linear-gradient(120deg, #ff9966, #fe66b6);
}
@media only screen and (max-width: 27em) {
  .btn, .btn:link, .btn:visited {
    display: block;
  }
}

.contacts-phone {
  font-size: 1.6rem;
}
.contacts-phone__number {
  color: #fb5c71;
}

.contacts-social {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex: 0 1 30%;
}
.contacts-social__btn a:link, .contacts-social__btn a:visited {
  color: #000;
}
.contacts-social__btn a:hover, .contacts-social__btn a:active {
  color: #38c3c7;
}

.subscribe {
  padding: 5rem 0;
}
.subscribe__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  background-color: #f3f8f8;
  grid-column: center-start/center-end;
}
.subscribe__heading {
  font-size: 3.6rem;
  color: #000;
}
.subscribe__text {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
}
.subscribe__form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 2rem 0;
}
.subscribe__form > * {
  outline: none;
  border: none;
  height: 4rem;
  appearance: none;
  padding: 0 2rem;
}
.subscribe__form input {
  border-radius: 10rem 0 0 10rem;
  flex: 0 1 25rem;
  max-width: 30rem;
}
.subscribe__btn {
  border-radius: 0 10rem 10rem 0;
  background-color: #fb5c71;
  color: #fff;
  flex: 1 1 10rem;
  max-width: 12rem;
  cursor: pointer;
}

.news-item {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 30rem;
}
.news-item > * {
  margin-bottom: 2rem;
}
.news-item__image {
  background-color: #8b9094;
  height: 20rem;
  max-width: 30rem;
  border-radius: 0.5rem;
  width: 100%;
}
.news-item__tag {
  padding: 0.5rem 2.5rem;
  color: #fff;
  background: linear-gradient(120deg, #ff9966, #fe66b6);
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 0.2rem;
}
.news-item__date {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #c4c4c4;
}

/* .logo {
	position: relative;

	&__img {
		margin-right: 1rem;
		position: relative;
		top: -.5rem;
	}

	&__text {
		font-size: 3.6rem;
		font-weight: 700;
		color: #000;
		display: inline-block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
} */
.logo {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
}
.logo__img {
  margin-right: 1rem;
  position: relative;
  top: -0.5rem;
}
.logo__text {
  font-size: 3.6rem;
  font-weight: 700;
  color: #000;
}

.badge {
  height: 20rem;
  width: 20rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
}
.badge-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
  font-weight: 700;
}
.badge-digit {
  font-size: 4.8rem;
}

.card-1 {
  font-size: 1.6rem;
  border-radius: 1rem;
  transition: all 0.2s;
}
.card-1 > * {
  margin-bottom: 2rem;
}
.card-1:hover {
  box-shadow: 0 0.5rem 1rem rgba(196, 196, 196, 0.5);
}
@media only screen and (hover: none) {
  .card-1 {
    box-shadow: 0 0.5rem 1rem rgba(196, 196, 196, 0.5);
  }
}

.card-2 {
  min-height: 50rem;
  position: relative;
  margin: 1rem;
  z-index: 100;
  width: 30rem;
  perspective: 150rem;
  transform-style: preserve-3d;
}
@supports (-ms-ime-align: auto) {
  .card-2 {
    -webkit-perspective: none;
    perspective: none;
    -webkit-transform: perspective(150rem);
    transform: perspective(150rem);
  }
}
.card-2__heading {
  color: #fff;
}
.card-2__side {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: all 0.4s;
  border-radius: 1rem;
  padding: 3rem;
  background-color: #fff;
  background-image: url(../img/bg-card-1.png);
  background-size: 120% 37%;
  background-position: top;
  background-repeat: no-repeat;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.card-2__side--back {
  transform: rotateY(-180deg);
}
.card-2__side .btn {
  align-self: center;
  width: 70%;
  background: #38c3c7;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -75%);
}
.card-2__side--pro {
  background-image: url(../img/bg-card-2.png);
}
.card-2__side--pro .btn {
  background: linear-gradient(120deg, #ff9966, #fe66b6);
}
.card-2:hover .card-2__side--front, .card-2:active .card-2__side--front {
  transform: rotateY(180deg);
}
.card-2:hover .card-2__side--back, .card-2:active .card-2__side--back {
  transform: rotateY(0);
}

.card-form {
  max-width: 27rem;
  max-height: 40rem;
  padding: 2.7rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}
.card-form .heading-secondary {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}
.card-form .heading-secondary::after {
  content: "";
  height: 0.6rem;
  position: absolute;
  bottom: 0.6rem;
  left: 0.5rem;
  right: 0.5rem;
  background: rgba(255, 153, 204, 0.5);
  z-index: -1;
}
.card-form__form > * {
  outline: none;
  appearance: none;
}
.card-form__form input {
  display: block;
  width: 100%;
  height: 3rem;
  margin-bottom: 1rem;
}
.card-form__form select {
  width: 100%;
  height: 3rem;
  margin-bottom: 2rem;
}
.card-form__form button {
  border: none;
  cursor: pointer;
  width: 60%;
  padding: 1.1rem 2.2rem;
}

.reviews__story {
  flex: 0 0 27rem;
  min-height: 27rem;
  width: 30rem;
  margin: 2.5rem;
  padding: 2.5rem;
  border-radius: 1rem;
  font-size: 1.4rem;
  text-align: left;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.3);
  background-color: #fff;
  position: relative;
  outline: none;
}
.reviews__story:before {
  content: "“";
  position: absolute;
  top: -3.5rem;
  font-size: 15rem;
  line-height: 1;
  color: rgba(255, 153, 204, 0.2);
  z-index: 2;
}
.reviews__story--shape {
  float: left;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  overflow: hidden;
}
.reviews__story--img {
  height: 100%;
}
.reviews__story--caption {
  margin-left: 7rem;
  font-weight: 700;
  color: #000;
}
.reviews__story--caption span {
  display: block;
  text-transform: uppercase;
  color: #38c3c7;
  font-size: 1.4rem;
  margin-top: 0.5rem;
}
.reviews__story--text {
  clear: both;
  margin-top: 3rem;
  color: #000;
  font-style: italic;
}

.header {
  grid-column: center-start/center-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-row: 1;
}
.header__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
}
.header__contacts-phone {
  display: flex;
}
@media only screen and (max-width: 27em) {
  .header__contacts-phone {
    display: none;
  }
}
@media only screen and (max-width: 27em) {
  .header__contacts-social {
    flex: 1;
  }
}

.navigation {
  grid-column: full-start/full-end;
  grid-row: 2;
  grid-row-gap: 0;
  padding: 2rem 0;
  background: #38c3c7;
}
@media only screen and (max-width: 37.5em) {
  .navigation {
    padding: 1rem 0;
  }
}
.navigation__center {
  grid-gap: 0.5rem 5rem;
}
@media only screen and (max-width: 56.25em) {
  .navigation__center {
    grid-template-columns: 1fr;
    justify-items: stretch;
  }
}
.navigation__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
@media only screen and (max-width: 37.5em) {
  .navigation__list {
    display: none;
  }
}
.navigation__list-link:link, .navigation__list-link:visited {
  color: #fff;
  text-decoration: none;
}
.navigation__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 37.5em) {
  .navigation__form {
    display: none;
  }
}
.navigation__form-search {
  flex: 1;
  margin-right: 1rem;
  display: flex;
}
.navigation__form-search input {
  width: 100%;
  font-family: inherit;
  outline: none;
  appearance: none;
  border: none;
  padding: 3px;
}
.navigation__form-list {
  display: flex;
}
.navigation__form-list select {
  font-family: inherit;
  outline: none;
  appearance: none;
  border: none;
  min-width: 2rem;
}

.mobile-nav {
  background: #38c3c7;
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%) rotateZ(0deg);
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  height: 100vh;
  transition-property: transform, opacity;
  transition-duration: 0.2s, 0.1s;
  transition-timing-function: cubic-bezier(1, -0.1, 0.72, 1.03);
  z-index: 1003;
}
.mobile-nav__list {
  padding-top: 40%;
  list-style: none;
  font-size: 2.5rem;
  line-height: 1.8;
  width: 80%;
  margin: 0 auto 2rem;
}
.mobile-nav__list-link:link, .mobile-nav__list-link:visited {
  color: #fff;
  text-decoration: none;
}
.mobile-nav__form {
  display: block;
  width: 80%;
  margin: 0 auto;
}
.mobile-nav__form-search {
  display: block;
  margin-bottom: 2rem;
}
.mobile-nav__form-search input {
  width: 100%;
  outline: none;
  font-family: inherit;
  vertical-align: middle;
}
.mobile-nav__form-list {
  display: inline-block;
}
.mobile-nav__form-list select {
  font-family: inherit;
  outline: none;
  vertical-align: middle;
}

.nav__btn {
  justify-self: end;
  position: relative;
  height: 4rem;
  width: 4rem;
  display: none;
}
@media only screen and (max-width: 37.5em) {
  .nav__btn {
    display: flex;
    z-index: 1002;
  }
}

.nav__icon {
  align-self: center;
}
.nav__icon, .nav__icon::before, .nav__icon::after {
  width: 4rem;
  height: 3px;
  background-color: #fff;
}
.nav__icon::before, .nav__icon::after {
  right: 0;
  position: absolute;
  content: "";
}
.nav__icon::before {
  top: 0.5rem;
}
.nav__icon::after {
  top: 3.2rem;
}

.open {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
  z-index: 1000;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  transition: all 0.3s cubic-bezier(1, -0.04, 0.52, 0.92);
}

.overlay.open {
  z-index: 1;
  visibility: visible;
  opacity: 1;
}

.footer {
  padding: 3% 0;
  font-size: 1.6rem;
  grid-column: full-start/full-end;
  grid-row-gap: 5rem;
}
.footer__grid {
  justify-items: initial;
  grid-gap: 1rem;
}
@media only screen and (max-width: 27em) {
  .footer__grid {
    max-width: 80%;
    grid-template-columns: 1fr;
    justify-items: start;
    grid-gap: 2rem;
  }
}
.footer__col {
  padding: 0 1rem;
}
.footer__link {
  margin-top: 1rem;
  display: block;
}
.footer__link:link, .footer__link:visited {
  text-decoration: none;
  color: inherit;
}
.footer__link:hover, .footer__link:active {
  color: #38c3c7;
}
.footer__contacts-phone {
  margin-top: 2rem;
}
.footer__address {
  font-style: italic;
  margin: 1rem 0;
  line-height: 2;
}
.footer__list {
  list-style: none;
}
.footer__list--byline {
  list-style: none;
}
.footer__tweet {
  margin-top: 1rem;
  align-self: end;
}
.footer__tweet--author {
  color: #000;
  font-weight: 700;
}
.footer__contacts-social {
  max-width: 80%;
}
.footer__info {
  margin-bottom: 2rem;
}
.footer__byline {
  border-top: 1px solid #c4c4c4;
  grid-column: center-start/center-end;
  grid-gap: 0;
}
.footer__copy {
  margin-top: 1rem;
}
.footer__byline-list {
  display: flex;
  justify-content: space-between;
}
.footer__byline-link {
  padding: 0 0.5rem;
}

.body {
  overflow-x: hidden;
}

.main.grid-wide {
  grid-row: 3;
  grid-gap: 5rem;
}
.main.grid-wide > * {
  padding: 3rem 2rem;
}
.main.grid-wide > .reviews {
  margin-top: -25rem;
  padding-top: 35rem;
}

.header,
.navigation__center {
  padding: 0 2rem;
}

.footer > * {
  padding: 0 2rem;
}

.intro {
  background: #f3f8f8;
  height: 70vh;
}
.intro__container {
  justify-items: center;
  align-items: center;
  position: relative;
  padding: 10% 0;
}
.intro__text {
  margin-top: 3rem;
}
.intro__link {
  display: inline-block;
  margin-top: 1rem;
  color: #000;
}
.intro__link:hover, .intro__link:active {
  color: #38c3c7;
  cursor: pointer;
}
.intro__img {
  max-width: 100%;
  display: block;
}
.intro__pattern-1 {
  position: absolute;
  right: 6%;
  top: 3%;
}
@media only screen and (max-width: 56.25em) {
  .intro__pattern-1 {
    top: 0%;
  }
}
.intro__pattern-2 {
  position: absolute;
  right: 45%;
  bottom: 8%;
}
@media only screen and (max-width: 56.25em) {
  .intro__pattern-2 {
    bottom: 0;
  }
}
.intro__pattern-3 {
  position: absolute;
  left: 9%;
  top: 7%;
}
@media only screen and (max-width: 56.25em) {
  .intro__pattern-3 {
    top: 0%;
  }
}
.intro__pattern-4 {
  position: absolute;
  right: 8%;
  bottom: 4%;
}
@media only screen and (max-width: 56.25em) {
  .intro__pattern-4 {
    bottom: 0%;
  }
}
.intro__pattern-5 {
  position: absolute;
  right: 55%;
  top: 5%;
}
@media only screen and (max-width: 56.25em) {
  .intro__pattern-5 {
    top: 0%;
    left: 45%;
  }
}
.intro__pattern-6 {
  position: absolute;
  left: 7%;
  bottom: 5%;
}
@media only screen and (max-width: 56.25em) {
  .intro__pattern-6 {
    bottom: 0;
  }
}

.welcome__icon {
  font-size: 4rem;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.welcome__icon--1 {
  background-color: #38c3c7;
}
.welcome__icon--2 {
  background-color: #fb5c71;
}
.welcome__icon--3 {
  background-color: #7dbd5c;
}
.welcome__icon--4 {
  background-color: #f0c521;
}
.welcome__text {
  margin: 3rem auto;
}
.welcome__features {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 27em) {
  .welcome__features {
    flex-direction: column;
  }
}
.welcome__feature {
  flex: 0 1 45%;
}
@media only screen and (max-width: 27em) {
  .welcome__feature {
    flex: 0 1 100%;
  }
}
.welcome__feature-text {
  margin: 3rem auto;
}
@media only screen and (max-width: 27em) {
  .welcome__btn {
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }
}
.welcome__badges {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: end;
}
@media only screen and (max-width: 64em) {
  .welcome__badges {
    justify-items: center;
    margin-top: 5rem;
  }
}
@media only screen and (max-width: 27em) {
  .welcome__badges {
    grid-template-columns: 1fr;
  }
}
.welcome__badge--1 {
  background: #d4f4f4;
}
.welcome__badge--2 {
  background: #fbe7ea;
  align-self: end;
}
@media only screen and (max-width: 64em) {
  .welcome__badge--2 {
    margin-top: 5rem;
  }
}
@media only screen and (max-width: 27em) {
  .welcome__badge--2 {
    margin-top: 0;
  }
}
.welcome__badge--3 {
  background: #e3f8d8;
}
.welcome__badge--4 {
  background: #f5efd8;
  align-self: end;
}

.case-study {
  background-color: #f3f8f8;
  padding: 5% 0;
}
.case-study__text {
  grid-column: center-start/center-end;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
}
.case-study__paragpraph {
  order: 2;
  margin-top: 2rem;
}
.case-study__btn {
  order: 1;
  margin-top: 2rem;
  align-self: flex-end;
}
.case-study__link {
  color: #fb5c71;
}
.case-study__showcase {
  grid-column: center-start/center-end;
}
.case-study__case {
  margin: 2rem;
  max-width: 28rem;
}
.case-study__case img {
  width: 100%;
}

.services {
  text-align: center;
  grid-column: center-start/center-end;
}
.services__subheading {
  max-width: 40%;
  margin: 0 auto 5rem;
}
@media only screen and (max-width: 27em) {
  .services__subheading {
    max-width: 100%;
  }
}
.services__card {
  text-align: left;
  height: 30rem;
  padding: 2rem;
}
.services__badge {
  padding: 2rem;
  background-image: url(../../img/bg-splash.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.services__text {
  text-align: initial;
}
.services__icon {
  font-size: 3rem;
  background: linear-gradient(120deg, #ff9966, #fe66b6);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.pricing {
  grid-column: center-start/center-end;
  text-align: center;
  font-size: 1.6rem;
}
@media only screen and (max-width: 27em) {
  .pricing {
    grid-column: full-start/full-end;
  }
}
.pricing__period .heading-tertiary {
  display: inline-block;
}
.pricing__period .heading-tertiary:first-of-type {
  margin-right: 3rem;
}
.pricing__heading {
  text-align: left;
}
.pricing__heading .heading-tertiary {
  color: #fff;
}
.pricing__cards {
  justify-items: center;
}
.pricing__price-offer {
  color: #fff;
}
.pricing__price-fare {
  margin-top: 1rem;
  color: #fff;
}
.pricing__price-fare span {
  font-size: 4.4rem;
}
.pricing__price-fare span sup {
  font-style: italic;
}
.pricing__services {
  text-align: left;
  list-style: none;
  margin-top: 15rem;
  margin-bottom: 3rem;
}
.pricing__services li {
  margin-bottom: 1rem;
}

.reviews {
  z-index: -1;
  background: #f3f8f8;
  margin-top: -25rem;
  padding: 35rem 0 5%;
}
.reviews__heading {
  grid-column: center-start/center-end;
  justify-self: center;
}
.reviews__content {
  grid-row: 2/3;
  grid-column: center-start/-1;
  display: flex;
}
@media screen and (max-width: 64em) {
  .reviews__content {
    grid-column: 1/-1;
  }
}
@media screen and (max-width: 48em) {
  .reviews__content {
    flex-direction: column;
  }
}
.reviews__image {
  min-height: 30rem;
  min-width: 30rem;
  flex: 1 1 45%;
  margin-right: 10%;
}
@media only screen and (max-width: 48em) {
  .reviews__image {
    margin-right: 0;
  }
}
.reviews__image--img {
  display: block;
  max-width: 100%;
  height: auto;
}
.reviews__stories {
  flex: 0 1 50%;
  width: 50%;
}
@media only screen and (max-width: 48em) {
  .reviews__stories {
    width: 100%;
  }
}

.contact {
  justify-items: center;
}
.contact__image img {
  width: 100%;
  height: auto;
  display: block;
}

.news {
  grid-column: center-start/center-end;
}
.news__feed {
  justify-items: center;
}
.news__heading {
  grid-column: center-start/center-end;
  justify-self: start;
}
.main-subscribe {
  background-color: #f3f8f8;
  padding: 5% 0;
}
.main-subscribe__text {
  grid-column: 1;
}
.main-subscribe__form {
  grid-column: 2;
}
@media only screen and (max-width: 48em) {
  .main-subscribe__form {
    grid-column: 1/-1;
    grid-row: 2;
  }
}
.main-subscribe__heading {
  font-size: 3.6rem;
  color: #000;
}

/*# sourceMappingURL=style.comp.css.map */
