@charset "UTF-8";
/*
$breakpoint argument choices:
0-600px - phone
600-900px - tab-port
900-1200px - tab-land
1800px+ - big-desktop
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  color: #8b9094;
}

.heading-tertiary, .heading-secondary, .heading-primary {
  font-weight: 700;
  color: #000;
}

.heading-primary {
  font-size: 8rem;
}

.heading-primary--underlined {
  display: inline-block;
  position: relative;
  z-index: 1;
}
.heading-primary--underlined::after {
  content: "";
  height: 0.6rem;
  position: absolute;
  bottom: 2.5rem;
  left: 0.5rem;
  right: 0.5rem;
  background: rgba(255, 153, 204, 0.5);
  z-index: -1;
}

.heading-secondary {
  font-size: 4.4rem;
}

.heading-secondary--underlined {
  display: inline-block;
  position: relative;
  z-index: 1;
}
.heading-secondary--underlined::after {
  content: "";
  height: 0.4rem;
  position: absolute;
  bottom: 1.5rem;
  left: 0.5rem;
  right: 0.5rem;
  background: rgba(255, 153, 204, 0.5);
  z-index: -1;
}

.heading-tertiary {
  font-size: 2.2rem;
}
.heading-tertiary--emphasis {
  font-size: 3.6rem;
}

.heading-tertiary--underlined {
  display: inline-block;
  position: relative;
  z-index: 1;
}
.heading-tertiary--underlined::after {
  content: "";
  height: 0.3rem;
  position: absolute;
  bottom: 0.8rem;
  left: 0.5rem;
  right: 0.5rem;
  background: rgba(255, 153, 204, 0.5);
  z-index: -1;
}

.link {
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none;
}
.link:hover {
  cursor: pointer;
}

.grid-body-wide {
  display: grid;
  grid-template-columns: [full-start] 1fr [center-start] repeat(4, [col-start] minmax(min-content, 28rem) [col-end]) [center-end] 1fr [full-end];
}

.grid-content-4-col {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: [center-start] repeat(2, [col-start] minmax(min-content, 28rem) [col-end]) [grid-center] repeat(2, [col-start] minmax(min-content, 28rem) [col-end]) [center-end];
}

.grid-content-3-col {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: [center-start] repeat(3, [col-start] minmax(min-content, 38rem) [col-end]) [center-end];
}

.slick-prev:before,
.slick-next:before {
  font-size: 3rem;
  line-height: 1;
  color: #8b9094;
}

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  font-weight: 700;
  padding: 1.1rem 6rem;
  display: inline-block;
  border-radius: 10rem;
  color: #fff;
  background: linear-gradient(120deg, #ff9966, #fe66b6);
}

.contacts-phone {
  font-size: 1.6rem;
}
.contacts-phone__number {
  color: #fb5c71;
}

.contacts-social {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex: 0 1 30%;
}
.contacts-social__btn a:link, .contacts-social__btn a:visited {
  color: #000;
}
.contacts-social__btn a:hover, .contacts-social__btn a:active {
  color: #38c3c7;
}

/* .subscribe {
  padding: 5% 0;

  &__container {
    position: relative;
  }

  &__form {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    & > * {
      outline: none;
      border: none;
      height: 4rem;
      appearance: none;
      padding: 0 2rem;
    }
    input {
      border-radius: 10rem 0 0 10rem;
      margin-right: 0;
      width: 30rem;
      display: inline-block;
    }
  }

  &__btn {
    border-radius: 0 10rem 10rem 0;
    background-color: $color-pink-4;
    color: #fff;
    margin-left: -4px;
    max-width: 12rem;
    display: inline-block;
    cursor: pointer;
  }
} */
/* .news-item {
position: relative;
height: 40rem;

    & > * {
      margin-bottom: 2rem;
    }

    &__image {
      background-color: $color-grey-1;
      height: 20rem;
      width: 100%;
      border-radius: 0.5rem;
    }

    &__tag {
      display: inline-block;
      padding: 0.5rem 2.5rem;
      color: #fff;
      background: linear-gradient(120deg, $color-pink-1, $color-pink-2);
      font-size: 1.2rem;
      text-transform: uppercase;
      border-radius: 0.2rem;
      position: absolute;
      bottom: 12%;
    }

    &__date {
      font-size: 1.4rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      color: $color-grey-2;
      position: absolute;
      bottom: 0;
    }
  } */
/* .logo {
	position: relative;

	&__img {
		margin-right: 1rem;
		position: relative;
		top: -.5rem;
	}

	&__text {
		font-size: 3.6rem;
		font-weight: 700;
		color: #000;
		display: inline-block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
} */
.logo {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
}
.logo__img {
  margin-right: 1rem;
  position: relative;
  top: -0.5rem;
}
.logo__text {
  font-size: 3.6rem;
  font-weight: 700;
  color: #000;
}

.badge {
  height: 20rem;
  width: 20rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
}
.badge-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
  font-weight: 700;
}
.badge-digit {
  font-size: 4.8rem;
}

.card-1 {
  font-size: 1.6rem;
  border-radius: 1rem;
  transition: all 0.2s;
  margin: 0 2rem;
}
.card-1 > * {
  margin-bottom: 2rem;
}
.card-1:hover {
  box-shadow: 0 0.5rem 1rem rgba(196, 196, 196, 0.5);
}

.card-2 {
  min-height: 50rem;
  position: relative;
  perspective: 150rem;
  margin: 1rem;
  z-index: 100;
  width: 30rem;
}
.card-2__heading {
  color: #fff;
}
.card-2__side {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: all 0.4s;
  border-radius: 1rem;
  padding: 3rem;
  background-color: #fff;
  background-image: url(../../img/bg-card-1.png);
  background-size: 120% 37%;
  background-position: top;
  background-repeat: no-repeat;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
}
.card-2__side--back {
  transform: rotateY(-180deg);
}
.card-2__side .btn {
  align-self: center;
  width: 70%;
  background: #38c3c7;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -75%);
}
.card-2__side--pro {
  background-image: url(../../img/bg-card-2.png);
}
.card-2__side--pro .btn {
  background: linear-gradient(120deg, #ff9966, #fe66b6);
}
.card-2:hover .card-2__side--front {
  transform: rotateY(180deg);
}
.card-2:hover .card-2__side--back {
  transform: rotateY(0);
}

.card-form {
  max-width: 27rem;
  max-height: 40rem;
  padding: 2.7rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}
.card-form .heading-secondary {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}
.card-form .heading-secondary::after {
  content: "";
  height: 0.6rem;
  position: absolute;
  bottom: 0.6rem;
  left: 0.5rem;
  right: 0.5rem;
  background: rgba(255, 153, 204, 0.5);
  z-index: -1;
}
.card-form__form > * {
  outline: none;
  appearance: none;
}
.card-form__form input {
  display: block;
  width: 100%;
  height: 3rem;
  margin-bottom: 1rem;
}
.card-form__form select {
  width: 100%;
  height: 3rem;
  margin-bottom: 2rem;
}
.card-form__form button {
  border: none;
  cursor: pointer;
  width: 60%;
  padding: 1.1rem 2.2rem;
}

.reviews__story {
  height: 27rem;
  max-width: 30rem;
  margin: 2.5rem;
  padding: 2.5rem;
  border-radius: 1rem;
  font-size: 1.4rem;
  text-align: left;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.3);
  background-color: #fff;
  position: relative;
  outline: none;
}
.reviews__story:before {
  content: "“";
  position: absolute;
  top: -3.5rem;
  font-size: 15rem;
  line-height: 1;
  color: rgba(255, 153, 204, 0.2);
  z-index: 2;
}
.reviews__story--shape {
  float: left;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  overflow: hidden;
}
.reviews__story--img {
  height: 100%;
}
.reviews__story--caption {
  margin-left: 7rem;
  font-weight: 700;
  color: #000;
}
.reviews__story--caption span {
  display: block;
  text-transform: uppercase;
  color: #38c3c7;
  font-size: 1.4rem;
  margin-top: 0.5rem;
}
.reviews__story--text {
  clear: both;
  margin-top: 3rem;
  color: #000;
  font-style: italic;
}

.header {
  grid-column: center-start/center-end;
  grid-row: 1/2;
  display: flex;
  justify-content: space-between;
}
.header__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
}
.header__contacts-phone {
  display: flex;
}

/* .navigation {
  background: #38c3c7;
  padding: 2rem 10%;

  &__list {
    display: inline-block;
    list-style: none;
    vertical-align: middle;
  }

  &__list-item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__list-link:link,
  &__list-link:visited {
    color: #fff;
    text-decoration: none;
  }

  &__form {
    display: inline-block;
    width: calc(100% - 50rem);
    text-align: right;
  }

  &__form-search {
    width: 20%;
    margin-right: 20%;
    display: inline-block;

    input {
      width: 100%;
      outline: none;
      font-family: inherit;
      vertical-align: middle;
    }
  }

  &__form-list {
    display: inline-block;

    select {
      font-family: inherit;
      outline: none;
      vertical-align: middle;
    }
  }
}
 */
.navigation {
  grid-column: full-start/full-end;
  grid-row: 2/3;
  padding: 2rem 0;
  background: #38c3c7;
}
.navigation__center {
  grid-column: center-start/center-end;
  grid-row: 2/3;
  display: flex;
  justify-content: space-between;
}
.navigation__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  flex: 0 1 40%;
}
.navigation__list-link:link, .navigation__list-link:visited {
  color: #fff;
  text-decoration: none;
}
.navigation__form {
  display: flex;
  justify-content: space-between;
  flex: 0 1 30%;
}
.navigation__form-search input {
  font-family: inherit;
  outline: none;
  appearance: none;
}
.navigation__form-list select {
  font-family: inherit;
  outline: none;
  appearance: none;
}

/* .footer {
  padding: 3% 0;
  font-size: 1.6rem;

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      color: inherit;
    }

    &:hover,
    &:active {
      color: $color-cyan;
    }
  }

  &__address {
    font-style: italic;
    margin: 1rem 0;
    line-height: 2;
  }

  &__list {
    list-style: none;

    &--byline {
      list-style: none;
    }
  }

  &__link {
    margin-top: 1rem;
  }

  &__tweet {
    margin-top: 1rem;
    &--author {
      color: #000;
      font-weight: 700;
    }
  }

  &__info {
    margin-bottom: 2rem;
  }

  &__byline {
    border-top: 1px solid $color-grey-2;
    padding-top: 1rem;
  }

  &__copy {
    display: inline-block;
    width: 40%;
  }

  &__byline-list {
    display: inline-block;
    width: 59%;
    text-align: right;
  }

  &__byline-link {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 4rem;
    }
  }
}
 */
.main {
  grid-row: 3/4;
  grid-column: full-start/full-end;
}

.intro {
  grid-column: full-start/full-end;
  grid-row: 1/2;
  background: #f3f8f8;
}
.intro__container {
  position: relative;
  padding: 10% 0;
}
.intro__content {
  grid-column: center-start/grid-center;
}
.intro__text {
  margin-top: 3rem;
}
.intro__link {
  display: inline-block;
  margin-top: 1rem;
  color: #000;
}
.intro__link:hover, .intro__link:active {
  color: #38c3c7;
  cursor: pointer;
}
.intro__image {
  grid-column: grid-center/center-end;
}
.intro__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.intro__pattern-1 {
  position: absolute;
  right: 6%;
  top: 3%;
}
.intro__pattern-2 {
  position: absolute;
  right: 45%;
  bottom: 8%;
}
.intro__pattern-3 {
  position: absolute;
  left: 9%;
  top: 7%;
}
.intro__pattern-4 {
  position: absolute;
  right: 8%;
  bottom: 4%;
}
.intro__pattern-5 {
  position: absolute;
  right: 55%;
  bottom: 15%;
}
.intro__pattern-6 {
  position: absolute;
  left: 7%;
  bottom: 5%;
}

.welcome {
  margin: 6% auto;
  grid-column: center-start/center-end;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
  gap: 0 5%;
}
.welcome__text {
  grid-column: 1/2;
  margin: 3rem auto;
}
.welcome__features {
  grid-column: 1/2;
  display: flex;
  justify-content: space-between;
}
.welcome__feature {
  flex: 0 1 45%;
}
.welcome__feature-text {
  margin: 3rem auto;
}
.welcome__btn {
  grid-column: 1/2;
  justify-self: start;
}
.welcome__badges {
  grid-column: 2/3;
  grid-row: 1/4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: end;
}
.welcome__badge--1 {
  background: #d4f4f4;
}
.welcome__badge--2 {
  background: #fbe7ea;
  align-self: end;
}
.welcome__badge--3 {
  background: #e3f8d8;
}
.welcome__badge--4 {
  background: #f5efd8;
  align-self: end;
}

.case-study {
  grid-column: full-start/full-end;
  grid-row: 4/5;
  background-color: #f3f8f8;
  padding: 5% 0;
}
.case-study__text {
  grid-column: center-start/center-end;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
}
.case-study__paragpraph {
  order: 2;
  margin-top: 2rem;
}
.case-study__btn {
  order: 1;
  margin-top: 2rem;
  align-self: flex-end;
}
.case-study__link {
  color: #fb5c71;
}
.case-study__showcase {
  grid-row: 3/4;
  grid-column: center-start/center-end;
  max-width: 114rem;
}
.case-study__case {
  margin: 2rem;
  max-width: 28rem;
}
.case-study__case img {
  width: 100%;
}

.services {
  padding: 5% 0;
  text-align: center;
  grid-row: 5/6;
  grid-column: center-start/center-end;
}
.services__subheading {
  max-width: 40%;
  margin: 0 auto 5rem;
}
.services__card {
  grid-row: 6/8;
  text-align: left;
  height: 30rem;
  padding: 2rem;
}
.services__badge {
  padding: 2rem;
  background-image: url(../../img/bg-splash.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.services__text {
  text-align: initial;
}

.pricing {
  grid-row: 6/7;
  grid-column: center-start/center-end;
  text-align: center;
  font-size: 1.6rem;
}
.pricing__period {
  margin: 5rem 0;
}
.pricing__period .heading-tertiary {
  display: inline-block;
}
.pricing__period .heading-tertiary:first-of-type {
  margin-right: 3rem;
}
.pricing__heading {
  text-align: left;
}
.pricing__heading .heading-tertiary {
  color: #fff;
}
.pricing__price-offer {
  color: #fff;
}
.pricing__price-fare {
  margin-top: 1rem;
  color: #fff;
}
.pricing__price-fare span {
  font-size: 4.4rem;
}
.pricing__price-fare span sup {
  font-style: italic;
}
.pricing__services {
  text-align: left;
  list-style: none;
  margin-top: 15rem;
  margin-bottom: 3rem;
}
.pricing__services li {
  margin-bottom: 1rem;
}

.reviews {
  grid-row: 7;
  grid-column: 1/-1;
  z-index: -1;
  background: #f3f8f8;
  margin-top: -25rem;
  padding: 35rem 0 5%;
}
.reviews__content {
  grid-row: 2/3;
}
.reviews__image {
  padding: 0 5%;
  grid-column: center-start/grid-center;
}
.reviews__image--img {
  display: block;
  width: 100%;
  height: auto;
}
.reviews__stories {
  grid-column: grid-center/center-end;
}

/*
.contact {
  @include clearfix();
  padding: 5% 0 2%;
  &__card {
    float: left;
  }

  &__image {
    max-height: 40rem;
    float: right;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}

.news {
  padding: 5% 0;

  &__feed {
    padding: 5% 0%;
  }
}

.main-subscribe {
  padding: 5% 0;
  background-color: $color-grey-3;

  &__heading {
    font-size: 3.6rem;
    color: #000;
  }
} */

/*# sourceMappingURL=style.css.map */
