.footer {
  padding: 3% 0;
  font-size: 1.6rem;
  grid-column: full-start / full-end;
  grid-row-gap: 5rem;

  &__grid {
    justify-items: initial;
    grid-gap: 1rem;

    @media only screen and (max-width: 27em) {
      max-width: 80%;
      grid-template-columns: 1fr;
      justify-items: start;
      grid-gap: 2rem;
    }
  }

  &__col {
    padding: 0 1rem;
  }

  &__link {
    margin-top: 1rem;
    display: block;
    &:link,
    &:visited {
      text-decoration: none;
      color: inherit;
    }

    &:hover,
    &:active {
      color: $color-cyan;
    }
  }

  &__contacts-phone {
    margin-top: 2rem;
  }
  &__address {
    font-style: italic;
    margin: 1rem 0;
    line-height: 2;
  }

  &__list {
    list-style: none;
    &--byline {
      list-style: none;
    }
  }

  &__tweet {
    margin-top: 1rem;
    align-self: end;
    &--author {
      color: #000;
      font-weight: 700;
    }
  }

  &__contacts-social {
    max-width: 80%;
  }

  &__info {
    margin-bottom: 2rem;
  }

  &__byline {
    border-top: 1px solid $color-grey-2;
    grid-column: center-start / center-end;
    grid-gap: 0;
  }

  &__copy {
    margin-top: 1rem;
  }

  &__byline-list {
    display: flex;
    justify-content: space-between;
  }

  &__byline-link {
    padding: 0 .5rem;
  }
}
