/* .footer {
  padding: 3% 0;
  font-size: 1.6rem;

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      color: inherit;
    }

    &:hover,
    &:active {
      color: $color-cyan;
    }
  }

  &__address {
    font-style: italic;
    margin: 1rem 0;
    line-height: 2;
  }

  &__list {
    list-style: none;

    &--byline {
      list-style: none;
    }
  }

  &__link {
    margin-top: 1rem;
  }

  &__tweet {
    margin-top: 1rem;
    &--author {
      color: #000;
      font-weight: 700;
    }
  }

  &__info {
    margin-bottom: 2rem;
  }

  &__byline {
    border-top: 1px solid $color-grey-2;
    padding-top: 1rem;
  }

  &__copy {
    display: inline-block;
    width: 40%;
  }

  &__byline-list {
    display: inline-block;
    width: 59%;
    text-align: right;
  }

  &__byline-link {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 4rem;
    }
  }
}
 */