.footer {
  padding: 3% 0;
  font-size: 1.6rem;
  grid-row: 10 / 11;
  grid-column: full-start / full-end;

  &__col {
    grid-row: 1 / 2;
    padding: 0 1rem;
  }

  &__link {
    margin-top: 1rem;
    display: block;
    &:link,
    &:visited {
      text-decoration: none;
      color: inherit;
    }

    &:hover,
    &:active {
      color: $color-cyan;
    }
  }

  &__address {
    font-style: italic;
    margin: 1rem 0;
    line-height: 2;
  }

  &__list {
    list-style: none;

    &--byline {
      list-style: none;
    }
  }

  &__tweet {
    margin-top: 1rem;
    &--author {
      color: #000;
      font-weight: 700;
    }
  }

  &__contacts-social {
    max-width: 80%;
  }

  &__info {
    margin-bottom: 2rem;
  }

  &__byline {
    border-top: 1px solid $color-grey-2;
    grid-row: 2 / 3;
  }

  &__copy {
    grid-column: center-start / grid-center;
    margin-top: 1rem;
  }

  &__byline-list {
    grid-column: grid-center / center-end;
    display: flex;
    justify-content: space-between;
  }
}
