.header {
  grid-column: center-start / center-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
grid-row: 1;
  &__contacts {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 1 1 auto;
  }

  &__contacts-phone {
  display: flex;	
  
  @media only screen and (max-width: 27em) {
    display: none;
  }
  }

  &__contacts-social {
    @media only screen and (max-width: 27em) {
      flex: 1;
    }
  }
}
