.header {
  grid-column: center-start / center-end;
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;

  &__contacts {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 1 1 auto;
  }

  &__contacts-phone {
	display: flex;	
  }
}
