.header {
  grid-column: center-start / center-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
grid-row: 1;
  &__contacts {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 1 1 auto;
  }

  &__contacts-phone {
	display: flex;	
  }
}
