.navigation {
  grid-column: full-start / full-end;
  grid-row: 2;
  grid-row-gap: 0;
  padding: 2rem 0;
  background: #38c3c7;

  @media only screen and (max-width: 37.5em) {
    padding: 1rem 0;
  }

  &__center {
    grid-gap: 0.5rem 5rem;

    @media only screen and (max-width: 56.25em) {
      grid-template-columns: 1fr;
      justify-items: stretch;
    }


  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    @media only screen and (max-width: 37.5em) {
      display: none;
    }
  }

  &__list-link:link,
  &__list-link:visited {
    color: #fff;
    text-decoration: none;
  }

  &__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media only screen and (max-width: 37.5em) {
      display: none;
    }
  }

  &__form-search {
    flex: 1;
    margin-right: 1rem;
    input {
      width: 100%;
      font-family: inherit;
      outline: none;
      appearance: none;
    }
  }

  &__form-list {
    select {
      font-family: inherit;
      outline: none;
      appearance: none;
    }
  }
}

.mobile-nav {
  background: #38c3c7;
  transform: translateX(100%) rotateZ(0deg);
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 100vh;
  transition-property: transform, opacity; 
  transition-duration: .3s, .1s; 
  transition-timing-function: cubic-bezier(1,-0.1, 0.72, 1.03);
  z-index: 1003;

  &__list {
    padding-top: 40%;
    list-style: none;
    font-size: 2.5rem;
    line-height: 1.8;
    width: 80%;
    margin: 0 auto 2rem;
  }

  &__list-link:link,
  &__list-link:visited {
    color: #fff;
    text-decoration: none;
  }

  &__form {
    display: block;
    width: 80%;
    margin: 0 auto;
  }

  &__form-search {
    display: block;
    margin-bottom: 2rem;
    input {
      width: 100%;
      outline: none;
      font-family: inherit;
      vertical-align: middle;
    }
  }

  &__form-list {
    display: inline-block;

    select {
      font-family: inherit;
      outline: none;
      vertical-align: middle;
    }
  }
}

.nav__btn {
  justify-self: end;
  position: relative;
  height: 4rem;
  width: 4rem;
  display: none;

  @media only screen and (max-width: 37.5em) {
    display: flex;
    z-index: 1002;
  }
}

.nav__icon {

  align-self: center;
  &,
  &::before,
  &::after {
    width: 4rem;
    height: 3px;
    background-color: #fff;
  }

  &::before,
  &::after {
    right: 0;
    position: absolute;
    content: "";
  }

  &::before {
    top: .5rem;
  }
  &::after {
    top: 3.2rem;
  }
}

.open {
  display: block;
  transform: translateY(0);
  opacity: 1;
  z-index: 1000;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0%, 0%, 0.2);
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  transition: all 0.3s cubic-bezier(1, -0.04, 0.52, 0.92);
}

.overlay.open {
  z-index: 1;
  visibility: visible;
  opacity: 1;
}
