.contacts-phone {
    font-size: 1.6rem;
    
    &__cta {

	}

	&__number {

        color: #fb5c71;
	}
}

.contacts-social {
  list-style: none;
  display: flex;
  justify-content: space-between;
	flex: 0 1 30%;

	&__btn {

        a:link, a:visited {
            color: #000;
          }
          
          a:hover, a:active {
            color: $color-cyan;
          }
	}
}
