/* .news-item {
position: relative;
height: 40rem;

    & > * {
      margin-bottom: 2rem;
    }

    &__image {
      background-color: $color-grey-1;
      height: 20rem;
      width: 100%;
      border-radius: 0.5rem;
    }

    &__tag {
      display: inline-block;
      padding: 0.5rem 2.5rem;
      color: #fff;
      background: linear-gradient(120deg, $color-pink-1, $color-pink-2);
      font-size: 1.2rem;
      text-transform: uppercase;
      border-radius: 0.2rem;
      position: absolute;
      bottom: 12%;
    }

    &__date {
      font-size: 1.4rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      color: $color-grey-2;
      position: absolute;
      bottom: 0;
    }
  } */