body {
  font-family: $font-primary;
  font-size: 1.8rem;
  font-weight: 400;;
  color: $color-grey-1;
}

%heading {
  font-weight: 700;
  color: #000;
}

.heading-primary {
  @extend %heading;
  font-size: 8rem;
}

.heading-primary--underlined {
  @include underlined(2.5rem, .6rem);
}

.heading-secondary {
  @extend %heading;
  font-size: 4.4rem;
}

.heading-secondary--underlined {
  @include underlined(1.5rem, .4rem);
}

.heading-tertiary {
  @extend %heading;
  font-size: 2.2rem;

  &--emphasis {
    font-size: 3.6rem;
  }
}

.heading-tertiary--underlined {
  @include underlined(.8rem, .3rem);
}

.link {
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}