//FONTS
$font-primary: "Nunito", sans-serif;

// COLORS
$color-cyan: #38c3c7;

$color-grey-1: #8b9094;
$color-grey-2: #c4c4c4;
$color-grey-3: #f3f8f8;

$color-pink-1: #ff9966;
$color-pink-2: #fe66b6;
$color-pink-3: #ff99cc;
$color-pink-4: #fb5c71;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;